<div class="midConwrap">
  <div class="profileSectionwrap">
    <div class="profileheading_row">
      <h3>My Account </h3>
    </div>
    <div class="profiletabsConWrap"> 
      <!--Profile Tabs Content Start Here-->
     <app-user-header></app-user-header>
      <!--Profile Tabs Content End Here--> 
      
      <!--Tabs Details Start Here-->
      <div class="tabsdetailswrap">
        <div class="tab-content">
          <!--Profile And Order Section Start Here-->
          <!-- <app-profile-order></app-profile-order> -->
          <!--Profile And Order Section End Here-->
          <!-- <app-payment-methods></app-payment-methods> -->
          <router-outlet></router-outlet>
        </div>
      </div>
      <!--Tabs Details End Here--> 
      
    </div>
  </div>
</div>