<div class="footerwrap">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="shoplinksbx">
          <h4>Online Shopping</h4>
          <ul>
            <li><a href="javascript:void(0);">Travel Gear</a></li>
            <li><a href="javascript:void(0);">Writing Instruments</a></li>
            <li><a href="javascript:void(0);">Travel Accessories</a></li>
            <li><a href="javascript:void(0);">Leather</a></li>
            <!-- <li><a href="javascript:void(0);">Collections</a></li> -->
            <li><a href="javascript:void(0);">Sunglasses</a></li>
            <li><a href="javascript:void(0);">Electronics</a></li>
            <li><a href="javascript:void(0);">Gift Sets</a></li>
            <li><a href="javascript:void(0);">Apparels</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2 col-md-2">
        <div class="shoplinksbx">
          <h4>Useful Links</h4>
          <ul>
              <li><a href="javascript:void(0);">About Us</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/contact']" >Contact Us</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/privacy']">Privacy </a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/terms']">Terms Of Use</a></li>
            <li><a href="javascript:void(0);">Track Orders</a></li>
            <li><a href="javascript:void(0);">Shipping</a></li>
            <li><a href="javascript:void(0);">Cancellation</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/return']" >Returns</a></li>
            <li><a href="javascript:void(0);" [routerLink]="['/vendor']" >Vendor Sign Up</a></li>
          </ul>
        </div>
      </div>
      <div class="clearbth"></div>
      <div class="col-xs-6 col-sm-3 col-md-4">
        <div class="shoplinksbx">
          <h4>App on Mobile</h4>
          <div class="downLinkContainer"> <a href="javascript:void(0);"><img class="androidDownLink" src="assets/images/google_play.png" alt="" /></a> <a href="javascript:void(0);"><img class="iOSDownLink" src="assets/images/apple_store.png" alt="" /></a> </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="wakipromises">
          <div class="promisesbx">
            <div class="imgsbx"><span class="original"></span></div>
            <div class="promisecon"><span>100% ORIGINAL</span> guarantee for all products at Waki </div>
          </div>
          <div class="promisesbx">
            <div class="imgsbx"><span class="return"></span></div>
            <div class="promisecon"><span>Return within 30days</span> of receiving your order </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
