<div id="profile_orders" class="tab-pane fade in active">
  <div class="profile_banner">
    <h3>Johnathan Doe</h3>
    <h4>heme should we follow meanwhile i will be working</h4>
    <h2 class="email">Johnathandoe@domain.com</h2>
    <h2 class="mobilenum">+91 | 1234567890</h2>
    <span class="hichaticon"></span> </div>
  <!--Order List Content Start Here-->
  <div class="orderlistContent">
    <div class="row m10 clearfix">
      <div class="col-md-6 colp10">
        <div class="orderidproConwrap">
          <div class="orderidprobox clearfix">
            <div class="proimgbx"><img src="assets/images/mobile_screen_01.jpg" alt="" /></div>
            <div class="orderid_detailsbx">
              <div class="pro_ord_nm">Apple Iphone X</div>
              <span class="orderidnum">Order ID : 11347</span>
              <div class="brand_pro">Apple</div>
              <div class="prosminfo">Iphone X Grey with 256 Gb</div>
              <div class="storageitem">Storage</div>
              <div class="qty">Qty : 01</div>
              <div class="aedprice">AED 560</div>
              <div class="order_placed_date">Order Placed on 23 March , 2018</div>
            </div>
          </div>
        </div>

        <div class="orderidproConwrap">
            <div class="orderidprobox clearfix">
              <div class="proimgbx"><img src="assets/images/mobile_screen_02.jpg" alt="" /></div>
              <div class="orderid_detailsbx"> 
                <div class="pro_ord_nm">Samsung Note 9</div>
                <span class="orderidnum">Order ID : 11347</span>
                <div class="brand_pro">Samsung</div>
                <div class="prosminfo">New Samsung Note 9 with all new</div>
                <div class="storageitem">S-Pen and more</div>
                <div class="qty">Qty : 01</div>
                <div class="aedprice">AED 560</div>
                <div class="mastercardrow"><img src="assets/images/visa_card.png" alt="" /> <img src="assets/images/master_card.png" alt="" /></div>
                <div class="deliveredbtn">Delivered</div>
              </div>
            </div>
            <!--Delivered Details Start Here-->
            <div class="delivereddetailsbox">
              <div class="totalpaidrw">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Total Paid Amount</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 680</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Product Price </span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 560</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Estimated Tax</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Delivery Charges</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
                </div>
              </div>
              <a href="javascript:void(0);">
              <div class="paidvia">Paid Via : Cash/Card on Delivery </div>
              </a>
              <div class="shippedbox">
                <h4>SHIPPED TO</h4>
                <div class="addressbox">
                  <h5>Johnathan Doe</h5>
                  <h6>H.no 37, Pepper Street</h6>
                  <h6>Area, State Name, 201401</h6>
                  <h6>Contact: +915989093210</h6>
                </div>
              </div>
              <div class="addprofeedbackbtnrow">
                <button type="button" class="btn btn-primary">ADD PRODUCT FEEDBACK </button>
              </div>
            </div>
            <!--Delivered Details End Here--> 
          </div>

      </div>
      <div class="col-md-6 colp10">
        <div class="orderidproConwrap">
          <div class="orderidprobox clearfix">
            <div class="proimgbx"><img src="assets/images/mobile_screen_02.jpg" alt="" /></div>
            <div class="orderid_detailsbx"> 
              <div class="pro_ord_nm">Samsung Note 9</div>
              <span class="orderidnum">Order ID : 11347</span>
              <div class="brand_pro">Samsung</div>
              <div class="prosminfo">New Samsung Note 9 with all new</div>
              <div class="storageitem">S-Pen and more</div>
              <div class="qty">Qty : 01</div>
              <div class="aedprice">AED 560</div>
              <div class="mastercardrow"><img src="assets/images/visa_card.png" alt="" /> <img src="assets/images/master_card.png" alt="" /></div>
              <div class="deliveredbtn">Delivered</div>
            </div>
          </div>
          <!--Delivered Details Start Here-->
          <div class="delivereddetailsbox">
            <div class="totalpaidrw">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Total Paid Amount</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">AED 680</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Product Price </span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">AED 560</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Estimated Tax</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Delivery Charges</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
              </div>
            </div>
            <a href="javascript:void(0);">
            <div class="paidvia">Paid Via : Cash/Card on Delivery </div>
            </a>
            <div class="shippedbox">
              <h4>SHIPPED TO</h4>
              <div class="addressbox">
                <h5>Johnathan Doe</h5>
                <h6>H.no 37, Pepper Street</h6>
                <h6>Area, State Name, 201401</h6>
                <h6>Contact: +915989093210</h6>
              </div>
            </div>
            <div class="addprofeedbackbtnrow">
              <button type="button" class="btn btn-primary">ADD PRODUCT FEEDBACK </button>
            </div>
          </div>
          <!--Delivered Details End Here--> 
        </div>

        <div class="orderidproConwrap">
            <div class="orderidprobox clearfix">
              <div class="proimgbx"><img src="assets/images/mobile_screen_02.jpg" alt="" /></div>
              <div class="orderid_detailsbx"> 
                <div class="pro_ord_nm">Samsung Note 9</div>
                <span class="orderidnum">Order ID : 11347</span>
                <div class="brand_pro">Samsung</div>
                <div class="prosminfo">New Samsung Note 9 with all new</div>
                <div class="storageitem">S-Pen and more</div>
                <div class="qty">Qty : 01</div>
                <div class="aedprice">AED 560</div>
                <div class="mastercardrow"><img src="assets/images/visa_card.png" alt="" /> <img src="assets/images/master_card.png" alt="" /></div>
                <div class="deliveredbtn">Delivered</div>
              </div>
            </div>
            <!--Delivered Details Start Here-->
            <div class="delivereddetailsbox">
              <div class="totalpaidrw">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Total Paid Amount</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 680</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Product Price </span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 560</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Estimated Tax</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
                </div>
              </div>
              <div class="totalpaidrw blk">
                <div class="row clearfix">
                  <div class="col-xs-6"><span class="totalsheading">Delivery Charges</span> </div>
                  <div class="col-xs-6"> <span class="aedpricebx aed">AED 60</span></div>
                </div>
              </div>
              <a href="javascript:void(0);">
              <div class="paidvia">Paid Via : Cash/Card on Delivery </div>
              </a>
              <div class="shippedbox">
                <h4>SHIPPED TO</h4>
                <div class="addressbox">
                  <h5>Johnathan Doe</h5>
                  <h6>H.no 37, Pepper Street</h6>
                  <h6>Area, State Name, 201401</h6>
                  <h6>Contact: +915989093210</h6>
                </div>
              </div>
              <div class="addprofeedbackbtnrow">
                <button type="button" class="btn btn-primary">ADD PRODUCT FEEDBACK </button>
              </div>
            </div>
            <!--Delivered Details End Here--> 
          </div>

      </div>
      
    </div>
  </div>
  <!--Order List Content End Here--> 
</div>