<div class="tab-content">
<div id="profile_orders" class="tab-pane fade in active">
  <div class="profile_banner">
    <h3>{{social['firstName']}}</h3>
    <h4>Welcome to Waki Profile Page </h4>
    <h2 class="email">{{social['email']}}</h2>
    <h2 class="mobilenum">{{social['countryCode']}} | {{social['phone']}}</h2>
    <span class="hichaticon"></span> </div>
  <!--Order List Content Start Here-->
  <div class="orderlistContent">
    <div class="row m10 clearfix" *ngIf="result['productDetail'] > 0 || result > 0">
      <div class="col-md-6 colp10" *ngFor="let detail of productDetail">
        <div class="orderidproConwrap" >
          <div class="orderidprobox clearfix">
            <div class="proimgbx" *ngFor="let image of detail.image">
              <img [src]="image" alt="" />
            </div>
            <div class="orderid_detailsbx">
              <div class="pro_ord_nm">{{detail.productName}}</div>
              <span class="orderidnum">Order ID : {{detail.orderId}}</span>
              <div class="brand_pro">{{detail.brand}}</div>
              <div class="prosminfo" [innerHTML]="detail.description"></div>
              <!-- <div class="storageitem">S-Pen and more</div> -->
              <div class="qty">Qty : {{detail.productQuantity}}</div>
              <div class="aedprice">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{detail.price*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</div>
              <div class="mastercardrow"><img src="assets/images/visa_card.png" alt="" /> <img src="assets/images/master_card.png" alt="" /></div>
              <div class="deliveredbtn">Delivered</div>
            </div>
          </div>
          <div class="delivereddetailsbox">
            <div class="totalpaidrw">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Total Paid Amount</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{detail.totalAmountPaid*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Product Price </span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{detail.price*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Estimated Tax</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{detail.estimateTax*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</span></div>
              </div>
            </div>
            <div class="totalpaidrw blk">
              <div class="row clearfix">
                <div class="col-xs-6"><span class="totalsheading">Delivery Charges</span> </div>
                <div class="col-xs-6"> <span class="aedpricebx aed">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{detail.deliveryCharges*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</span></div>
              </div>
            </div>
            <a href="javascript:void(0);">
            <div class="paidvia">Paid Via : Cash/Card on Delivery </div>
            </a>
            <div class="shippedbox">
              <h4>SHIPPED TO</h4>
              <div class="addressbox">
                <h5>{{detail.deliveryAddress.fullName}}</h5>
                <h6>{{detail.deliveryAddress.addresses}}</h6>
                <!-- <h6>Area, State Name, 201401</h6> -->
                <h6>Contact: {{detail.deliveryAddress.countryCode}}{{detail.deliveryAddress.contactNumber}}</h6>
              </div>
            </div>
            <div class="addprofeedbackbtnrow">
              <button type="button" class="btn btn-primary">ADD PRODUCT FEEDBACK </button>
            </div>
          </div>
        </div>
      </div>
      <!-- <ng-template #notfound> Orders Not Present </ng-template> -->
    </div>
  </div>
  <!--Order List Content End Here-->
</div>
</div>
