
  <!--Header Section Start Here-->
  <!--Header Section End Here-->
  <ngx-ui-loader></ngx-ui-loader>
  <div class="midConwrap">
    <!--Banner Section Start Here-->
    <div class="bannerbx">
      <div id="bannerslider" class="owl-carousel owl-theme">
        <div class="item clearfix " *ngFor="let images of banner" >
          <img [src]="images.dealImage" class="img-responsive loading" alt=""/>
         </div>

         <!-- <div class="item clearfix"><img class="img-responsive" src="assets/images/banner_01.jpg"  alt="" /> </div> -->
      </div>
    </div>
    <!--Banner Section End Here-->

    <!--Big Ad Banner Box Start Here-->
    <div class="bigbannerAdbx" *ngFor="let topPrmote of topPromotedDeals">
      <img [src]="topPrmote.promotedDealImage" class = "loading" alt="" />
    </div>
    <!--Big Ad Banner Box End Here-->

    <!--New Collection Section Start Here-->
    <div class="newcollectiontabSection">
      <!--Fahionable Shirts Collection Start Here-->
      <div class="collectiontabs active" onclick="tabBx('fashionable')">
        <div class="tabCon">{{'home.new_collection' | translate}} <span>{{'home.fashionable' | translate}}</span><span class="lefttooltips"></span> </div>
      </div>
      <div id="fashionable" class="collectionslideCon" style="display: block;">
        <div class="collectionchCon">
        <h3>{{'home.the' | translate}} <span>{{'home.new' | translate}}</span></h3>
        <h2>{{'home.collections' | translate}}</h2>
        <h4>{{'home.fashionable' | translate}} Shirts</h4>
        <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
        <div class="collectionitem"><img src="assets/images/handbags2.jpg"  alt="" /></div>
      </div>
      </div>
       <!--Fahionable Shirts Collection End Here-->

       <!--Color And Prints Collection Start Here-->
      <div class="collectiontabs color_prints" onclick="tabBx('new_color_prints')">
          <div class="tabCon">{{'home.2015_collection' | translate}}<span>{{'home.new_color' | translate}} </span><span class="lefttooltips"></span> </div>
        </div>
        <div id="new_color_prints" class="collectionslideCon">
            <div class="collectionchCon">
            <h3>2015 <span>{{'home.new' | translate}}</span></h3>
            <h2>{{'home.collections' | translate}}</h2>
            <h4>{{'home.creative_prints' | translate}}</h4>
            <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
            <div class="collectionitem"><img src="assets/images/handbags2.jpg"  alt="" /></div>
          </div>
          </div>
        <!--Color And Prints Collection End Here-->

      <!--Sale of the day Collection Start Here-->
      <div class="collectiontabs saleofday" onclick="tabBx('saleof_the_day')">
          <div class="tabCon">{{'home.sale_of_day' | translate}} <span>20 to 50% {{'home.on_all_products' | translate}} </span><span class="lefttooltips"></span> </div>
        </div>
        <div id="saleof_the_day" class="collectionslideCon">
            <div class="collectionchCon">
            <h3>{{'home.sale'| translate}} <span> day!</span></h3>
            <h2>{{'home.discounts' | translate}}</h2>
            <h4>20 to 50% on all products </h4>
            <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
            <div class="collectionitem"><img src="assets/images/handbags2.jpg"  alt="" /></div>
          </div>
          </div>
        <!--Sale of the day Collection End Here-->

        <!--Summer Collection Start Here-->
      <div class="collectiontabs summer_item" onclick="tabBx('summeritem')">
          <div class="tabCon">{{'home.new_items_summer' | translate}} <span>{{"home.new_swim_wear" | translate}}</span><span class="lefttooltips"></span> </div>
        </div>
        <div id="summeritem" class="collectionslideCon">
            <div class="collectionchCon">
            <h3>{{'home.new' | translate}} <span>{{'home.items'}}</span></h3>
            <h2>{{'home.summer' | translate}}</h2>
            <h4>New swimwear on sale now</h4>
            <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
            <div class="collectionitem"><img src="assets/images/handbags2.jpg"  alt="" /></div>
          </div>
          </div>
        <!--Summer Collection End Here-->

    </div>
    <!--New Collection Section End Here-->

    <!--Top Picks Section Start Here-->
    <div class="toppicswrap" *ngIf="topPicksMobile.length > 0">
      <h3>{{'home.top_picks_in_mobile' | translate}}</h3>
      <div class="topitemsproductsSlbx owl-carousel toppics owl-theme">
        <div class="item clearfix" [routerLink]="['/detail',mobile._id]" *ngFor="let mobile of topPicksMobile">
          <div class="itembox">
            <div class="itemimgbx">
              <a href="javascript:void(0);">
                 <img [src]="mobile.image" class="loading" width="200" height="400" alt="" /> </a>
            </div>
            <div class="itemdetailsbx">
              <div class="aedprice">{{currencyConvertService.currentCurrencyData['default']==1?currencyConvertService.currentCurrencyData['sign']:''}}{{mobile['price']*currencyConvertService.currentCurrencyData['value']}}</div>
              <h4>{{mobile.productName}}</h4>
              <div class="itemcomnm">{{mobile.brand}}</div>
              <div class="itemsmdes" *ngFor="let specifi of mobile.specifications">{{specifi.TEST}}{{specifi.Type}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Top Picks Section End Here-->

    <!--Shop By Brands Section Start-->
    <div class="brandssectionbx" *ngIf="topBrands.length > 0">
      <h3>{{'home.shop_by_brand' | translate}}</h3>
      <div class="brandsrow clearfix">
        <div id="brandslogo" class="owl-carousel brandslogo owl-theme">
          <div class="item clearfix" *ngFor="let brand of topBrands">
            <div class="brandsbx" [routerLink]="['/prod-list',brand._id]" [queryParams]="{ type: brand.type}"><a href="javascript:void(0);"><img [src]="brand.icons" alt="" /></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="trendingfashionbx"  *ngIf="topPicksFashion.length > 0">
        <h3>TRENDING IN FASHION</h3>
        <div class="fashionitembox">
          <div class="row marginwd8 hover01 clearfix">
              <div id="trendingfahion" class="owl-carousel trendingfahion owl-theme">
                <div class="item" *ngFor="let trending of topPicksFashion">
                    <a href="javascript:void(0);">
                        <div class="trendingbx">
                          <figure>
                            <div class="shadow" [routerLink]="['/detail',trending._id]" >
                              <img class="img-responsive loading" [src]="trending.image" alt="">
                            </div>
                            <span>{{trending.productName}}</span>
                           </figure>
                        </div>
                        </a>
                </div>
              </div>
          </div>
        </div>
      </div>


    <!--Treding Fashion Section End Here-->

    <!--Collections Slider Start Here-->
    <div class="collectionsliderwarp">
      <div class="row mnmlt eqWrap equalHMWrap clearfix">
        <div class="col-sm-6 pdn marginbtms">
          <div class="owl-carousel colectionSlider owl-theme">
            <div class="item clearfix">
              <div class="collectionbx">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">{{'home.dresses' |translate}}</span></div>
                      <div class="cellecheading">Collection shopping</div>
                      <div class="cellecheadingsm">Collection shopping</div>
                      <div class="shopnowrow"><a href="javascript:void(0);">Shop Now</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5"><img class="img-responsive" src="assets/images/collection1.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div>
            <div class="item clearfix">
              <div class="collectionbx">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">{{'home.dresses' | translate}}</span></div>
                      <div class="cellecheading">Collection shopping</div>
                      <div class="cellecheadingsm">Collection shopping</div>
                      <div class="shopnowrow"><a href="javascript:void(0);">Shop Now</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <img class="img-responsive" src="assets/images/collection1.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div>
            <!-- <div class="item clearfix">
              <div class="collectionbx">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">{{'home.dresses' | translate}}</span></div>
                      <div class="cellecheading">{{'home.new_collection' | translate}}</div>
                      <div class="cellecheadingsm">{{'home.see_new_collection' | translate}}</div>
                      <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5"><img class="img-responsive" src="assets/images/collection1.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div>
            <!-- <div class="item clearfix">
              <div class="collectionbx">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">{{'home.dresses' | translate}}</span></div>
                      <div class="cellecheading">{{'home.new_collection' | translate}}</div>
                      <div class="cellecheadingsm">{{'home.see_new_collection' | translate}}</div>
                      <div class="shopnowrow"><a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5"><img class="img-responsive" src="assets/images/collection1.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="mouse_drag"></div>
        </div>
        <div class="col-sm-6 pdn">
          <div class="owl-carousel colectionSlider dotch owl-theme">
            <div class="item clearfix">
              <div class="collectionbx catlevel">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">CatLevel 3</span></div>
                      <div class="cellecheading">Collection shopping</div>
                      <div class="cellecheadingsm">Collection shopping</div>
                      <div class="shopnowrow"><a href="javascript:void(0);">Shop Now</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5"><img class="img-responsive" src="assets/images/collection2.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div>
            <div class="item clearfix">
              <div class="collectionbx catlevel">
                <div class="row clearfix">
                  <div class="col-xs-7">
                    <div class="collectionConbx">
                      <div class="typecollection clearfix"><span class="solidline"></span><span class="typetext">CatLevel 3</span></div>
                      <div class="cellecheading">{{'home.new_collection' | translate}}</div>
                      <div class="cellecheadingsm">{{'home.see_new_collection' | translate}}</div>
                      <div class="shopnowrow">
                        <a href="javascript:void(0);">{{'home.shop_now' | translate}}</a></div>
                    </div>
                  </div>
                  <div class="col-xs-5"><img class="img-responsive" src="assets/images/collection2.jpg" width="328" height="370" alt="" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="mouse_drag"></div>
        </div>
      </div>
    </div>
    <!--Collections Slider End Here-->

    <!--Top Picks Section Start Here-->
    <div class="toppicswrap" *ngIf="topPicksMobile.length > 0">
      <h3>TOP PICKS IN MOBILE</h3>
      <div class="topitemsproductsSlbx owl-carousel toppics owl-theme">
        <div class="item clearfix"  *ngFor="let mobilesecond of topPicksMobile">
      <div class="itembox" [routerLink]="['/detail',mobilesecond._id]">
      <div class="itemimgbx">
        <img [src]="mobilesecond.image" width="200" height="400" alt="" />
      </div>
            <div class="itemdetailsbx">
              <div class="aedprice">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}}{{mobilesecond.price*currencyConvertService.currentCurrencyData['value']}}{{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</div>
              <h4>{{mobilesecond.productName}}</h4>
              <div class="itemcomnm">{{mobilesecond.brand}}</div>
        <div class="itemsmdes" *ngFor="let mobi of mobilesecond.specifications">{{mobi.TEST}}{{mobi.Type}}</div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <!--Top Picks Section End Here-->

    <!--Last Product Row Start Here-->
    <div class="lastprorows">
      <div class="row mnm eqWrap equalHMWrap clearfix">
        <div class="col-xs-12 col-sm-8 pdnone marginbtms">
          <figure> <img src="assets/images/paint_down_ban.jpg" alt="" /> </figure>
        </div>
        <div class="col-xs-6 col-sm-2 pdnone">
          <figure class="smbx wdr5">
            <div class="shadow"> <img src="assets/images/handbags1.jpg" alt="" /></div>
            <span>Handbags <i> Up To 60% off</i></span> </figure>
        </div>
        <div class="col-xs-6 col-sm-2 pdnone">
          <figure class="smbx wdl5">
            <div class="shadow"> <img src="assets/images/luggage1.jpg" alt="" /> </div>
            <span>Bags & Luggage <i> Up To 60% off</i></span></figure>
        </div>
      </div>
    </div>
    <!-- <div class="loader-cat" style="text-align: center;" *ngIf = "isLoader">
      <span class="cat-loader" style="color:red">hey i am loading</span>

    </div> -->
    <!--Last Product Row End Here-->
</div>
