@media only screen and (max-width: 2000px) {
.trendingfashionbx .trendingbx figure {
	height:335px;
}
.navbar-default span.leftColorbg,.navbar-default span.rightColorbg{
	width: 60px;
}
}
@media only screen and (max-width: 1800px) {
.nav.fullwdmenu > li > a {
    padding: 12px 36px;
}
.trendingfashionbx .trendingbx figure {
	height:290px;
}
.lastprorows figure {
	height:330px;
}
.lastprorows figure.smbx{
	height:310px;
}
.collectionsliderwarp .collectionbx {
    padding: 40px 50px;
}
.collectionConbx .cellecheading{
	font-size:30px;
	margin-bottom:20px;
}
.shopnowrow {
    margin-top: 40px;
}
.collectionsliderwarp .collectionbx .collectionConbx {
    padding-top: 15px;
}
.newcollectiontabSection{
	height: 579px;
}
.collectiontabs{
	height: 145px;
}
.collectiontabs .tabCon{
	padding: 41px 20px;
	font-size: 22px;
}
.collectiontabs.color_prints{
	top: 145px;
}
.collectiontabs.saleofday{
	top: 290px;
}
.collectiontabs.summer_item{
	top: 435px;
}
.collectiontabs .tabCon .lefttooltips{
	left: -24px;
	width: 27px;
	height: 145px;
	background-size: 27px 145px;
}
.collectionchCon .collectionitem{
	width: 340px;
}
.collectionslideCon h3{
	font-size: 50px;
}
.collectionslideCon h3 span,.collectionslideCon h2{
	font-size: 90px;
}
.collectionslideCon h4{
	font-size: 28px;
}
.collectionslideCon .shopnowrow a {
    padding: 16px 30px;
    font-size: 18px;
}
.collectionslideCon .collectionchCon{
	padding-right: 340px;
}
.subCategorySlider .itemimgbx{
	width: 100px;
	height: 100px;
}
.subCategorySlider .itembox h4{
	font-size: 15px;
}
.profile_banner{
	padding: 60px 35px;
}
.contactus_scwrap .contacttitle_heading img {
    width: 320px;
    height: auto;
}
.contactus_scwrap .contactinfos,.contactus_scwrap .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 16px;
    line-height: 32px;
}
.contact_towakirw .emaillink,.wakiConAddressbox{
	font-size: 16px;
}
.contactus_scwrap .conwakiConbx {
    max-width: 700px;
}
.contactus_scwrap {
    padding: 60px 20px 120px 20px;
}
.contactus_scwrap .panel-title {
    font-size: 18px;
}
.termsContentwrap h3{
	font-size: 21px;
	line-height: 32px;
}
.termsContentwrap h4{
	font-size: 16px;
}
.termsContentwrap .termstextdetails{
	font-size: 16px;
	line-height: 32px;
}
}
@media only screen and (max-width: 1600px) {
.nav.fullwdmenu > li > a {
    padding: 12px 26px;
}
.trendingfashionbx .trendingbx figure {
	height:256px;
}
.lastprorows figure {
	height:300px;
}
.lastprorows figure.smbx{
	height:280px;
}
.collectionConbx .cellecheading{
	font-size:28px;
}
.collectionConbx .cellecheadingsm{
	font-size:18px;
}
.shopnowrow {
    margin-top: 40px;
}
.newcollectiontabSection {
    height: 499px;
}
.collectionsliderwarp .collectionbx .collectionConbx {
    padding-top: 15px;
}
.collectionslideCon h3{
	font-size: 40px;
}
.collectionslideCon h3 span, .collectionslideCon h2{
	font-size: 75px;
}
.collectionslideCon h4{
	font-size: 24px;
}
.collectionslideCon .collectionchCon {
    padding: 80px 70px;
    padding-right: 300px;
}
.collectionchCon .collectionitem{
	width: 300px;
}
.collectiontabs {
    height: 125px;
}
.collectiontabs.color_prints {
    top: 125px;
}
.collectiontabs.saleofday {
    top: 250px;
}
.collectiontabs.summer_item {
    top: 375px;
}
.collectiontabs .tabCon {
    padding: 34px 20px;
    font-size: 20px;
}
.collectiontabs{
	width: 400px;
}
.collectionslideCon{
	margin-right: 400px;
}
.collectiontabs .tabCon .lefttooltips{
	left: -20px;
	width: 23px;
	height: 125px;
	background-size: 23px 125px;
}
.toppicswrap.productlisting .itembox .itemdetailsbx h4{
	font-size: 14px;
}
.selectcategory [type="checkbox"]:not(:checked) + label, .selectcategory [type="checkbox"]:checked + label{
	font-size: 13px;
}
.profile_banner h3{
	font-size: 22px;
}
.profile_banner h4{
	font-size: 17px;
}
.profile_banner h2.email,.profile_banner h2.mobilenum,.orderid_detailsbx .aedprice{
	font-size: 26px;
}
.orderidprobox .proimgbx{
	width: 160px;
}
.orderid_detailsbx{
	margin-left: 160px;
}
.orderid_detailsbx .pro_ord_nm,.orderid_detailsbx .qty,.shippedbox h4{
	font-size: 18px;
}
.orderid_detailsbx .prosminfo, .orderid_detailsbx .storageitem,.orderid_detailsbx .order_placed_date,.orderid_detailsbx .brand_pro{
	font-size: 14px;
}
.orderid_detailsbx .orderidnum{
	font-size: 12px;
}
.totalpaidrw .totalsheading, .totalpaidrw .aedpricebx,.paidvia{
	font-size: 16px;
}
.shippedbox .addressbox h5{
	font-size: 17px;
}
.shippedbox .addressbox h6{
	font-size: 14px;
}
.orderlistContent .orderidprobox{
	min-height: 260px;
}
.profiletabsConWrap .nav-tabs > li > a,.profileheading_row h3{
	font-size: 16px;
}
.profiletabsConWrap .nav-tabs > li > a{
	padding: 16px 30px;
}
.wakiproductinfowrap h1{
	font-size: 28px;
}
.wakiproductinfowrap h3{
	font-size: 21px;
}
.wakiproinfo .infoprorw, .wakiproinfo .wakiprodes,.wakiproductinfowrap .view-desc,.reviewsminfo {
    font-size: 14px;
}
.reviewsminfo{
	margin-top: 5px;
}
}
@media only screen and (max-width: 1440px) {
.nav.fullwdmenu > li > a {
  padding: 12px 18px;
}
.trendingfashionbx .trendingbx figure {
    height: 240px;
}
.lastprorows figure {
    height: 280px;
}
.lastprorows figure.smbx {
    height: 260px;
}
.collectionConbx .cellecheading{
	font-size: 26px;
}
.collectionConbx .cellecheadingsm{
	font-size: 16px;
}
.collectionslideCon {
    margin-right: 350px;
}
.newcollectiontabSection {
    height: 419px;
}
.collectionslideCon h3{
	font-size: 35px;
}
.collectionslideCon h3 span, .collectionslideCon h2{
	font-size: 70px;
}
.collectionslideCon h4{
	font-size: 21px;
}
.collectionslideCon .collectionchCon {
    padding: 60px 50px;
    padding-right: 240px;
}
.collectionchCon .collectionitem{
	width: 240px;
	top: 60px;
}
.collectiontabs {
    width: 350px;
}
.collectiontabs .tabCon {
    padding: 27px 15px;
    font-size: 18px;
}
.collectiontabs {
    height: 105px;
}
.collectiontabs.color_prints {
    top: 105px;
}
.collectiontabs.saleofday {
    top: 210px;
}
.collectiontabs.summer_item {
    top: 315px;
}
.collectiontabs .tabCon .lefttooltips{
	left: -17px;
	width: 19px;
	height: 105px;
	background-size: 19px 105px;
}
.collectionslideCon .shopnowrow a {
    padding: 12px 30px;
    font-size: 16px;
}
.toppicswrap.productlisting .productlistbox {
    width: 25%;
}
.toppicswrap.productlisting.watchlist .productlistbox{
	width: 20%;
}
.wdp5.wds20{
	width: 20%;
}
.wdp5.wds80{
	width: 80%;
}
.starrow .glyphicon{
	font-size: 15px;
}
.accountsetheaderrw .aciconbx {
    width: 70px;
    height: 70px;
}
.accountsetheaderrw .boxtitlenm {
    line-height: 70px;
}
.changepassordform .form-control {
    font-size: 14px;
}
}

@media only screen and (max-width: 1400px) {
.trendingfashionbx .trendingbx figure {
	height: 225px;
}
.lastprorows figure {
	height: 264px;
}
.lastprorows figure.smbx {
	height: 244px;
}
.changepassordform .subbtnrw .btn-primary {
    width: 120px;
}
}

@media only screen and (max-width: 1320px) {
#wrapper{
	padding: 0 40px;
	margin-top: 174px;
}
.navbar-default {
	padding: 40px 40px 0px 40px;
}
.nav.fullwdmenu > li > a {
  padding: 12px;
}
.navbar-default span.leftColorbg,.navbar-default span.rightColorbg {
    width: 40px;
}
.trendingfashionbx .trendingbx figure {
	height: 220px;
}
.lastprorows figure {
	height: 254px;
}
.lastprorows figure.smbx {
	height: 234px;
}
.collectionConbx .cellecheading{
	font-size: 24px;
}
.shopnowrow a{
	padding: 10px 24px;
	font-size: 16px;
}
.toppicswrap .itembox .itemimgbx{
	height: 160px;
}
.toppicswrap .itembox .itemdetailsbx h4{
	font-size: 14px;
	padding-right: 60px;
}
.toppicswrap .itembox .itemdetailsbx .aedprice{
	font-size: 12px;
	padding-right: 5px;
}
.toppicswrap .itembox .itemdetailsbx .itemsmdes,.toppicswrap .itembox .itemdetailsbx .itemcomnm{
	font-size: 12px;
}
.trendingfashionbx .hover01 span{
	font-size: 13px;
}
.collectionsliderwarp .collectionbx {
	padding: 30px 30px;
	padding-right: 40px;
}
.lastprorows figure.smbx span{
	font-size: 16px;
}
.lastprorows figure.smbx span i{
	font-size: 12px;
}
.collectionslideCon {
    margin-right: 300px;
}
.newcollectiontabSection {
    height: 400px;
}
.collectionslideCon h3{
	font-size: 32px;
}
.collectionslideCon h3 span, .collectionslideCon h2{
	font-size: 64px;
}
.collectionslideCon h4{
	font-size: 18px;
}
.collectionslideCon .collectionchCon {
    padding: 50px 60px;
    padding-right: 220px;
}
.collectionchCon .collectionitem{
	width: 220px;
}
.collectiontabs {
    width: 300px;
}
.collectiontabs .tabCon {
    padding: 26px 15px;
    font-size: 17px;
}
.collectiontabs {
    height: 100px;
}
.collectiontabs.color_prints {
    top: 100px;
}
.collectiontabs.saleofday {
    top: 200px;
}
.collectiontabs.summer_item {
    top: 300px;
}
.collectiontabs .tabCon .lefttooltips{
	left: -17px;
	width: 18px;
	height: 100px;
	background-size: 18px 100px;
}
.collectionslideCon .shopnowrow a {
    padding: 12px 30px;
    font-size: 16px;
}
.subcategories-details {
    padding: 20px;
}
.subCategorySlider .itemimgbx {
    width: 90px;
    height: 90px;
}
.subCategorySlider .itembox h4{
	font-size: 14px;
	line-height: 20px;
}
.subcategories-details .product-subcategory h3{
	font-size: 21px;
}
.subcategories-banner,.subcategories-details .product-subcategory{
	margin-bottom: 30px;
}
.wakiproductinfowrap h1 {
	font-size: 24px;
	line-height: 36px;
}
.viewalls,.wakiproheading .viewall{
	font-size: 18px;
}
.wakipro_varientbx h4{
	font-size: 16px;
}
.wakipro_varientbx [type="radio"]:checked + label, .wakipro_varientbx [type="radio"]:not(:checked) + label {
	font-size: 14px;
}
.starrow .glyphicon {
    font-size: 13px;
}
.wakiproductinfowrap .buynwrw a,.waki_addprobtnrow .add-to-bag, .waki_addprobtnrow .add-to-whislist{
	padding: 12px 36px;
}
.delivereddetailsbox.bagtotal h3{
	font-size: 18px;
}
.orderid_detailsbx.checkout .aedprice{
	font-size: 21px;
}
.payment_methodbx [type="radio"]:checked + label, .payment_methodbx [type="radio"]:not(:checked) + label {
	font-size: 20px;
}
.cardnumberbx{
	margin-left: 15px;
}
.movewishlistrw a{
	font-size: 16px;
}
.wakicheckoutprobx{
	padding: 20px;
}
.delivereddetailsbox.bagtotal {
	padding: 20px 20px 10px 20px;
}
.atmcardbox{
	padding: 30px 40px;
}
.addnewaddressbtnrw .addnewaddressbtn{
	padding: 12px 40px;
}
.saveadd_subbtnrw .btn-primary{
	padding: 12px 60px;
}
.contactus_scwrap .conwakiConbx {
    max-width: 600px;
}
.contactus_scwrap .contactinfos,.contactus_scwrap .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 14px;
    line-height: 28px;
}
.contact_towakirw .emaillink, .wakiConAddressbox {
    font-size: 14px;
}
.wakiConAddressbox p {
    margin-bottom: 10px;
}
.contactus_scwrap .panel-title {
    font-size: 16px;
}
.termsContentwrap h3{
	font-size: 18px;
	line-height: 28px;
}
.termsContentwrap h4{
	font-size: 15px;
}
.termsContentwrap .termstextdetails{
	font-size: 14px;
	line-height: 28px;
}
.termsContentwrap{
	padding: 15px;
}
.changepassordform .subbtnrw .btn-primary {
    width: 110px;
}
}
@media only screen and (max-width: 1220px) {
#wrapper{
	padding: 0 30px;
	margin-top: 164px;
}
.navbar-default {
	padding: 30px 30px 0px 30px;
}
.navbar-default span.leftColorbg,.navbar-default span.rightColorbg {
	width: 30px;
}
.trendingfashionbx .trendingbx figure {
	height: 210px;
}
.lastprorows figure {
	height: 244px;
}
.lastprorows figure.smbx {
	height: 224px;
}
.toppicswrap{
	padding: 20px 19px 10px 20px
}
.brandssectionbx,.trendingfashionbx{
	padding: 20px 20px 10px 20px
}
.toppicswrap h3, .brandssectionbx h3, .trendingfashionbx h3{
	font-size: 21px;
	margin-top: 5px;
}
.brandssectionbx .brandsbx{
	width: 80px;
	height: 80px;
}
.toppicswrap .itembox .itemimgbx{
	height: 140px;
}
.collectionConbx .typecollection .typetext{
	font-size: 14px;
}
.collectionConbx .cellecheading {
	font-size: 21px;
	line-height: 28px;
}
.collectionConbx .cellecheadingsm{
	font-size: 15px;
}
.profile_banner {
    padding: 40px 25px;
}
.profile_banner h3 {
    font-size: 20px;
}
.profile_banner h4 {
    font-size: 16px;
}
.profile_banner h2.email, .profile_banner h2.mobilenum, .orderid_detailsbx .aedprice {
    font-size: 24px;
}
.orderidprobox .proimgbx {
    width: 130px;
}
.orderid_detailsbx{
	margin-left: 130px;
	padding: 15px;
	padding-right: 120px;
}
.orderid_detailsbx .pro_ord_nm, .orderid_detailsbx .qty, .shippedbox h4 {
    font-size: 16px;
}
.orderid_detailsbx .prosminfo, .orderid_detailsbx .storageitem, .orderid_detailsbx .order_placed_date, .orderid_detailsbx .brand_pro {
    font-size: 13px;
}
.totalpaidrw .totalsheading, .totalpaidrw .aedpricebx, .paidvia {
    font-size: 15px;
}
.shippedbox .addressbox h5 {
    font-size: 16px;
}
.wakiproheading {
    font-size: 21px;
}
.changeshippingaddtext{
	position: static;
	bottom: auto;
	right: auto;
	margin-top: 15px;
	text-align: right;
}
.delivereddetailsbox.bagtotal .shippedbox .addressbox{
	padding: 10px;
	margin-top: 0px;
}
.accountsetheaderrw .aciconbx {
    width: 60px;
    height: 60px;
}
.accountsetheaderrw .boxtitlenm {
    line-height: 60px;
}
.accountsetheaderrw .boxtitlenm{
	font-size: 16px;
}
.changepassordform .subbtnrw .btn-primary {
    width: 100px;
    font-size: 14px;
    padding: 10px 8px;
}
}
@media only screen and (max-width: 1200px) {
.trendingfashionbx .trendingbx figure {
	height: 200px;
}
.lastprorows figure {
    height: 235px;
}
.lastprorows figure.smbx {
    height: 215px;
}
.product-image {
    width: 460px;
}
.wakiproductinfowrap {
    margin-left: 500px;
    padding-right: 0px;
}
.wakiproductdetails{
	padding: 20px;
}
.starrow{
	text-align: left;
}
.accountstaffwtbx {
    padding: 15px;
}
}
@media only screen and (max-width: 1170px) {
#wrapper {
	padding:0px 15px;
	margin-top: 140px;
}
.navbar-default {
    padding: 15px 15px 0px 15px;
}
.navbar-default .logorw{
	padding: 10px 0;
}
.nav.fullwdmenu{
	padding: 0;
}
.nav.fullwdmenu > li > a{
	font-size: 13px;
     padding: 12px 10px;
}
.nav.fullwdmenu .dropdown-menu > li > a{
	font-size: 13px;
}
.midConwrap .bannerbx,.midConwrap .bigbannerAdbx,.toppicswrap,.brandssectionbx,.trendingfashionbx,.collectionsliderwarp,.lastprorows{
    margin-bottom: 15px;
}
.toppicswrap{
	padding: 15px 14px 10px 15px;
}
.brandssectionbx,.trendingfashionbx{
	padding: 15px 15px 10px 15px;
}
.navbar-default span.leftColorbg, .navbar-default span.rightColorbg {
    width: 15px;
}
.brandssectionbx .brandsbx {
    width: 60px;
    height: 60px;
}
.toppicswrap h3, .brandssectionbx h3, .trendingfashionbx h3{
	font-size: 20px;
}
.trendingfashionbx .trendingbx figure {
    height: 190px;
}
.trendingfashionbx .hover01 span{
	bottom: 20px;
}
.lastprorows figure {
    height: 220px;
}
.lastprorows figure.smbx {
    height: 200px;
}
.collectionConbx .cellecheading{
	font-size: 20px;
}
.lastprorows figure.smbx span{
	font-size: 14px;
}
.lastprorows figure.smbx span{
	bottom: 20px;
}
.footerwrap{
	padding: 30px 0;
}
.footerwrap .container{
	width: auto;
}
.topitemsproductsSlbx {
    margin-top: 35px;
}
.owl-carousel.toppics .owl-stage-outer {
    padding-bottom: 30px;
}
.newcollectiontabSection {
	height: 340px;
	margin-bottom: 15px;
}
.collectionslideCon h3{
	font-size: 28px;
}
.collectionslideCon h3 span, .collectionslideCon h2{
	font-size: 56px;
}
.collectionslideCon h4{
	font-size: 17px;
}
.collectionslideCon .collectionchCon {
    padding: 50px 30px;
    padding-right: 200px;
}
.collectionchCon .collectionitem{
	width: 200px;
}
.collectiontabs {
    width: 260px;
}
.collectiontabs .tabCon {
    padding: 21px 15px;
    font-size: 15px;
}
.collectiontabs {
    height: 85px;
}
.collectiontabs.color_prints {
    top: 85px;
}
.collectiontabs.saleofday {
    top: 170px;
}
.collectiontabs.summer_item {
    top: 255px;
}
.collectiontabs .tabCon .lefttooltips{
	left: -15px;
	width: 16px;
	height: 85px;
	background-size: 16px 85px;
}
.signinwrap .signinCon {
    padding: 20px 30px 0 30px;
}
.emailAddressbox {
    padding: 20px 0;
}
.signinCon h3{
	font-size: 28px;
}
.registerrow .register_text{
	font-size: 18px;
}
.toppicswrap.productlisting .productlistbox {
    width: 33.33%;
}
.toppicswrap.productlisting.watchlist .productlistbox {
    width: 25%;
}
.wdp5.wds20 {
    width: 23%;
}
.wdp5.wds80 {
    width: 77%;
}
.toppicswrap.productlisting {
    padding: 20px;
}
.toppicswrap.watchlist{
	padding: 0;
}
.wakiproheading{
	font-size: 20px;
}
.atmcardbox{
	padding: 25px 30px;
}
.contactus_scwrap .conwakiConbx {
    max-width: 500px;
}
.changepassordform .subbtnrw .btn-primary {
    width: 80px;
    font-size: 14px;
    padding: 10px 0px;
}
}

@media only screen and (max-width: 1080px) {
.trendingfashionbx .trendingbx figure {
	height: 184px;
}
.lastprorows figure {
    height: 210px;
}
.lastprorows figure.smbx {
    height: 190px;
}
.product-image {
    width: 300px;
}
.wakiproductinfowrap {
    margin-left: 330px;
}
.nav.fullwdmenu > li > a{
     padding: 12px 7px;
}
}
@media only screen and (max-width: 1023px) {
.navbar-default {
	padding: 10px 10px 0px 10px;
}
#wrapper {
    padding: 0px 10px;
    margin-top: 134px;
}
.logorw .navbar-nav > li{
	margin: 0 10px;
}
.navbar-default span.leftColorbg, .navbar-default span.rightColorbg {
    width: 10px;
}
.nav.fullwdmenu > li > a {
    font-size: 11px;
    padding: 12px 5px;
}
.nav.fullwdmenu .dropdown-menu > li > a{
	font-size: 11px;
}
.logorw .navbar-nav > li > a span{
	width: 24px;
	height: 24px;
	margin: -12px 0 0 -12px;
	background-size: 48px 72px;
}
.logorw .navbar-nav > li:hover > a span.stores {
	background-position: -24px 0;
}
.logorw .navbar-nav > li > a span.account {
	background-position: 0 -24px;
}
.logorw .navbar-nav > li:hover > a span.account {
	background-position: -24px -24px;
}
.logorw .navbar-nav > li > a span.cart {
	background-position: 0 -48px;
}
.logorw .navbar-nav > li:hover > a span.cart {
	background-position: -24px -48px;
}
.midConwrap .bannerbx,.midConwrap .bigbannerAdbx,.toppicswrap,.brandssectionbx,.trendingfashionbx,.collectionsliderwarp,.lastprorows{
    margin-bottom: 10px;
}
.toppicswrap h3, .brandssectionbx h3, .trendingfashionbx h3 {
    font-size: 18px;
}
.toppicswrap h3:after,.brandssectionbx h3:after,.trendingfashionbx h3:after{
	bottom:-7px;
}
.toppicswrap .itembox .itemimgbx {
    height: 120px;
}
.trendingfashionbx .marginwd8{
	margin: 0;
}
.trendingfashionbx .colwd{
	padding: 0 5px;
}
.trendingfashionbx .trendingbx{
	margin-bottom: 10px;
}
.trendingfashionbx .trendingbx figure {
    height: 150px;
}
.trendingfashionbx .hover01 span{
	font-size: 12px;
}
.collectionsliderwarp .collectionbx {
	padding: 15px 20px;
	padding-right: 40px;
}
.collectionsliderwarp .row.mnmlt{
	margin: 0 -5px;
}
.collectionsliderwarp .pdn{
	margin: 0 5px;
}
.collectionConbx .cellecheading{
	font-size: 18px;
}
.collectionConbx .cellecheadingsm{
	font-size: 13px;
}
.collectionConbx .typecollection,.collectionConbx .cellecheading{
	margin-bottom: 15px;
}
.shopnowrow {
	margin-top: 20px;
	margin-bottom: 10px;
}
.shopnowrow a {
    padding: 10px 20px;
    font-size: 15px;
}
.lastprorows .row.mnm {
    margin: 0 -5px;
}
.lastprorows .pdnone {
    margin: 0 5px;
}
.lastprorows figure {
    height: 175px;
}
.lastprorows figure.smbx {
	height: 165px;
	margin: 5px;
}
.shoplinksbx h4{
	font-size: 13px;
}
.shoplinksbx ul li a{
	font-size: 12px;
}
.wakipromises .promisesbx .imgsbx span.original{
	width:50px;
	height:40px;
	background-size: 87px 40px;
}
.wakipromises .promisesbx .imgsbx span.return{
	width:36px;
	height:40px;
	background-size: 87px 40px;
	background-position:-51px 0;
}
.wakipromises .promisesbx .promisecon {
    font-size: 12px;
    margin-left: 60px;
}
.footerwrap .downLinkContainer a{
	margin-bottom: 10px;
	margin-right: 0;
}
.newcollectiontabSection{
	height: auto;
	margin-bottom: 10px;
	overflow: inherit;
}
.collectiontabs{
	position: relative;
	width: auto;
	top: auto;
	right: auto;
	height: auto;
	border-top: 1px solid #d9d9d9;
	border-bottom: 0;
}
.collectiontabs .tabCon span{
	display: inline-block;
}
.collectiontabs .tabCon .lefttooltips,.collectiontabs.active .tabCon .lefttooltips{
	display: none;
}
.collectionslideCon{
	margin-right: 0;
}
.collectiontabs.color_prints,.collectiontabs.saleofday,.collectiontabs.summer_item{
	top: auto;
}
.collectionslideCon .collectionchCon {
    padding: 30px;
    padding-right: 200px;
}
.collectionchCon .collectionitem{
	top: 30px;
	right: 15px;
}
.collectionslideCon h3 {
    font-size: 24px;
}
.collectionslideCon h3 span, .collectionslideCon h2{
	font-size: 45px;
}
.collectionslideCon h4 {
    font-size: 16px;
}
.collectionslideCon .shopnowrow a {
    padding: 10px 20px;
    font-size: 15px;
}
.wdp5.wds20 {
    width: 30%;
}
.wdp5.wds80 {
    width: 70%;
}
.toppicswrap.productlisting .productlistbox {
    width: 50%;
}
.toppicswrap.productlisting.watchlist .productlistbox {
    width: 33.33%;
}
.profileheading_row h3{
	font-size: 15px;
}
.profiletabsConWrap .nav-tabs > li > a{
	font-size: 14px;
	padding: 13px 10px;
}
.profile_banner {
    padding: 20px;
}
.profile_banner h3 {
    font-size: 18px;
}
.profile_banner h4 {
    font-size: 14px;
}
.profile_banner h2.email, .profile_banner h2.mobilenum {
    font-size: 21px;
}
.orderlistContent .orderidprobox{
	min-height: inherit;
}
.wakiproductinfowrap h1 {
    font-size: 21px;
	line-height: 32px;
	margin-top: 5px;
}
.wakiproinfo .infoprorw, .wakiproinfo .wakiprodes,.wakiproinfo .wakiprodes p{
	margin-bottom: 10px;
	word-wrap: break-word;
}
.wakiproductinfowrap .buynwrw a, .waki_addprobtnrow .add-to-bag, .waki_addprobtnrow .add-to-whislist {
    padding: 12px 24px;
}
.payment_type_img img {
    width: 40px;
}
.cardnumberbx{
	margin-left: 10px;
}
.payment_methodbx [type="radio"]:checked + label, .payment_methodbx [type="radio"]:not(:checked) + label {
	font-size: 15px;
	line-height: 24px;
	padding: 10px 8px;
}
.choosetype_bullets{
	right:10px;
}
.atmcardbox {
    padding: 20px;
}
.cardContentbx{
	padding: 20px 15px 15px 15px;
}
.cardContentbx .form-control,.validthrurw .validinput .span_slash{
	font-size: 18px;
}
.validthrurw .valid_text{
	font-size: 12px;
}
.cardContentbx .cardidmgbxrw .cardidimg{
	width: 60px;
	height: 50px;
}
.row.payment_method{
	margin: 0 -10px;
}
.payment_method_pad{
	padding: 0 10px;
}
.contactus_scwrap {
    padding: 60px 20px 120px 20px;
    background-size: 600px 432px;
}
}

@media only screen and (max-width: 839px) {
.nav.fullwdmenu > li > a,.nav.fullwdmenu .dropdown-menu > li > a {
	font-size: 10px;
}
.trendingfashionbx .trendingbx figure {
    height: 140px;
}
.lastprorows figure {
    height: 160px;
}
.lastprorows figure.smbx {
    height: 150px;
}
.lastprorows figure.smbx span{
	font-size: 13px;
}
.lastprorows figure.smbx span i{
	font-size: 11px;
}
}

@media only screen and (max-width: 767px) {
#wrapper {
	padding: 0px;
	margin-top: 70px;
}
.navbar-default {
	padding:0;
	background-color: #fff;
}
.navbar-default .logorw{
	padding:0;
	height: 60px;
}
.navbar-brand {
    width: 80px;
    height: 28px;
    margin-left: -40px;
    margin-top: -14px;
}
.navbar-nav {
	position: absolute;
	left: 5px;
	top:15px;
    float: none;
    margin: 0;
}
.logorw .navbar-nav > li{
	float: left;
}
.logorw .navbar-nav > li > a{
	padding: 10px;
	text-indent: -9999px;
}
ul.social-network,.navbar-default span.leftColorbg, .navbar-default span.rightColorbg{
	display: none;
}
.trendingfashionbx .colwd{
	float: left;
	width: 25%;
}
.midConwrap .bigbannerAdbx{
	padding: 0 10px;
}
.toppicswrap,.brandssectionbx,.trendingfashionbx,.midConwrap .bannerbx,.lastprorows{
	margin-left: 10px;
	margin-right: 10px;
}
.collectionsliderwarp .eqWrap,.lastprorows .eqWrap{
	display: block;
}
.collectionsliderwarp .row.mnmlt{
	margin: 0 5px;
}
.lastprorows .row.mnm{
	margin:0;
}
.marginbtms{
	margin-bottom: 10px !important;
}
.lastprorows .pdnone{
	padding: 0;
	margin:0;
}
.navbar-header{
	position: absolute;
	top: 5px;
	right: 15px;
}
.navbar-toggle{
	margin-right: 0;
}
.nav.fullwdmenu{
	max-width: inherit;
}
#slide-navbar-collapse .navbar-nav{
	top: auto;
	left: auto;
}
.nav.fullwdmenu .dropdown-menu > li{
	display: block;
	height: auto;
	line-height: normal;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
	max-height: inherit;
}
#slide-navbar-collapse {
    position: fixed;
    top: 0;
	left: 0;
	padding: 0;
    width: 280px;
    height: 100%;
    background-color: #fff;
	overflow: auto;
	z-index: 99;
	border: 0;
  }
.menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    /* IE7 & 8 */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
}
.lastprorows figure,.lastprorows figure.smbx{
	height: auto;
	text-align: center;
}
.lastprorows figure.smbx.wdr5{
	margin:0;
	margin-right: 5px;
}
.lastprorows figure.smbx.wdl5{
	margin:0;
	margin-left: 5px;
}
.lastprorows figure img{
	position: static;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	transform: none;
	display: inline-block;
}
.lastprorows .shadow{
	position: static;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}
.clearbth{
	padding-top: 15px;
	display: block;
}
.lastprorows .pdnone{
	background-color: transparent;
}
.subcategorieswrap {
    padding-top: 0;
}
.subcategories-details {
    padding:15px;
}
.subcategories-details .product-subcategory{
	padding: 20px 10px 0px 10px;
}
.subcategories-banner, .subcategories-details .product-subcategory {
    margin-bottom: 20px;
}
.signinwrap{
	padding-top: 0;
}
.signinwrap .signinCon {
    padding: 10px 20px 0 20px;
}
.signinCon h3,.signinCon h6,.signinwithsocialrow,.registerrow .register_text,.signinCon h4{
	text-align: center;
}
.signinCon h4{
	padding-top: 10px;
	font-size: 16px;
	line-height: 24px;
}
.signinwithsocialrow .socialicon{
	margin-right: 20px;
}
.registerrow .wakilogo{
	display: none;
}
.registerrow .register_text{
	font-size: 16px;
	margin-top: 20px;
}
.signinCon h3 {
    font-size: 24px;
}
.emailAddressbox h4{
	font-size: 16px;
	margin-bottom: 30px;
}
.emailAddressbox label,.emailAddressbox .forgot_text_row{
	font-size: 15px;
}
.emailAddressbox .form-group {
    margin-bottom: 20px;
}
.btn-primary.signin{
	padding: 12px 28px;
}
.productlistingwrap {
    padding-top: 0;
}
.row.wd5{
	margin: 0;
}
.wdp5.wds80,.wdp5.wds20{
	width: auto;
	float: none;
}
.toppicswrap.productlisting .productlistbox {
	float: left;
}
.toppicswrap.productlisting,.wdp5.wds20 {
    margin: 0 5px;
}
.toppicswrap.productlisting.watchlist {
	margin: 0 10px;
}
.category_subcategory_row{
	margin: 0 10px;
	margin-bottom: 10px;
}
.categoryColbox .categorylist,.categoryheadingrow.brandshview{
	display: none;
}
.categoryheadingrow.brandslidehview{
	display: block;
}
.categoryheadingrow{
	border-bottom: 0;
}
.categoryColbox .categorylist{
	border-top: 1px solid #dfe5ec;
}
.categoryheadingrow{
	font-size: 14px;
}
.category_subcategory_row{
	padding: 15px;
}
.profileSectionwrap{
	padding-top: 0;
}
.orderlistContent{
	padding: 10px;
}
.profile_banner .hichaticon{
	display: none;
}
.profiletabsConWrap .nav-tabs > li{
	width: 50%;
	text-align: center;
}
.profiletabsConWrap .nav-tabs > li > a{
	display: block;
}
.profileheading_row{
	padding: 15px;
}
.profile_banner{
	padding: 15px;
}
.profile_banner h3{
	margin-top: 10px;
}
.profile_banner h2.email,.profile_banner h2.mobilenum{
	font-size: 18px;
	line-height:30px;
	margin-top: 15px;
}
.orderid_detailsbx .orderidnum{
	position: static;
	top: auto;
	right: auto;
	display: block;
	padding-bottom: 5px;
}
.orderidprobox .proimgbx {
    width: 100px;
}
.orderid_detailsbx {
    margin-left: 100px;
    padding-right: 0;
}
.orderid_detailsbx .deliveredbtn{
	font-size: 13px;
	padding: 10px;
}
.delivereddetailsbox{
	padding: 10px 15px;
}
.totalpaidrw .totalsheading, .totalpaidrw .aedpricebx, .paidvia {
    font-size: 14px;
}
.reviewsminfo{
	min-height: inherit;
}
.wakiproheading {
    font-size: 18px;
}
.wakiproheading:after{
	width: 60px;
}
.wakiproductdetails {
	margin: 10px;
	padding: 0;
}
.wakiproductdetails.pd15wd{
	padding: 15px;
}
.product-image {
	float: none;
	width: auto;
	margin: auto;
	min-height: 300px;
}
.wakiproductinfowrap {
	margin-left: 0;
	padding: 15px;
}
.wakiproductinfowrap .buynwrw a, .waki_addprobtnrow .add-to-bag, .waki_addprobtnrow .add-to-whislist {
    padding: 10px 12px;
}
.waki_addprobtnrow .add-to-bag, .waki_addprobtnrow .add-to-whislist{
	margin-right: 5px;
	letter-spacing: 0;
}
.viewalls, .wakiproheading .viewall {
    font-size: 16px;
}
.viewalls{
	top:30px;
	right:15px;
}
.toppicswrap.products_details{
	margin-left: 10px;
	margin-right: 10px;
}
.toppicswrap.productlisting.watchlist .productlistbox {
    width: 50%;
}
.row.checkout{
	margin: 0 5px;
}
.wakicheckoutprobx{
	margin-bottom: 10px;
}
.Checkout_heading_title{
	margin: 0 10px;
}
.wakicheckoutprobx.orderlistContent .orderidproConwrap {
    margin-bottom: 20px;
}
.addnewaddressbtnrw .addnewaddressbtn{
	margin-bottom: 10px;
}
.addnewaddressbtnrw .addnewaddressbtn {
	padding: 12px 30px;
	font-size: 16px;
}
.saveadd_subbtnrw .btn-primary{
	padding: 12px 50px;
	font-size: 16px;
}
.addressfillform{
	margin-top: 25px;
}
.savedaddresswrap{
	padding: 20px;
}
.row.payment_method{
	margin: 0;
}
.atmcardbox {
    padding: 20px 15px;
}
.cardContentbx .cardidmgbxrw {
    margin-bottom: 10px;
}
.savedaddresswrap.editprofile{
	margin: 0 10px;
	margin-bottom: 10px;
}
.contactus_scwrap{
	background: #fff;
	padding: 15px;
}
.contact_towakirw {
    margin: 20px 0;
}
.contactus_scwrap .contacttitle_heading img {
    width: 240px;
    height: auto;
}
.contact_towakirw .wakilinkbx {
    margin-right: 15px;
}
.contact_towakirw .emaillink{
	margin-left: 10px;
}
.contactus_scwrap{
	margin: 0 10px 10px 10px;
}
.contactus_scwrap.vendorwrap {
    padding: 15px;
}
.vendorimgbx {
    padding-top: 20px;
    padding-left: 0;
}
.termsContentwrap{
	margin: 0 10px;
	margin-bottom: 10px;
}
#settings .row.tabCon{
	margin: 0 5px;
	margin-top: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	border-top:none;
	color: #fff;
	background-color: #9957d1;
}
.nav.fullwdmenu .tpbdr{
	display: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	border-top:none;
	color: #fff;
	background-color: #9957d1;
}
.nav.fullwdmenu > li > a {
    font-size: 14px;
	padding: 13px 10px;
	color: #a3a3a3;
	border-top: 0px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.nav.fullwdmenu > li:hover > a {
	color: #fff;
	background-color: #9957d1;
}
.nav.fullwdmenu > li > .dropdown-menu{
	padding: 0;
	text-align: left;
	border-bottom: 1px solid #e8e8e8;
}
.nav.fullwdmenu .dropdown-menu > li > a {
    font-size:13px;
}
.navbar-default .navbar-toggle{
	border: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:transparent;
}
.navbar-toggle{
	margin-top: 11px;
}
.savedaddsbxrow .shippedbox .addressbox{
	min-height: inherit;
}
#chooseAddress .modal-dialog{
	width: 92%;
}
#chooseAddress .modal-body {
    padding: 20px 20px 0 20px;
}
.logorw .navbar-nav > li > a > i.notif_num{
	width: 20px;
	height: 20px;
	font-size: 11px;
	right:-12px;
	line-height: 20px;
}
.toppicswrap .itembox:hover .itemimgbx img{
	-webkit-transform: scale(1);
	transform: scale(1);
}
.wakilogoviewmobilebx{
	display: block;
}
}
@media only screen and (max-width:639px) {
.trendingfashionbx .colwd {
	width: 33.33%;
}
.trendingfashionbx .trendingbx figure {
    height: 170px;
}
.newcollectiontabSection{
	margin-left:10px;
	margin-right: 10px;
}
.collectionslideCon h3 {
    font-size: 21px;
}
.collectionslideCon h3 span, .collectionslideCon h2 {
    font-size: 40px;
}
.collectionchCon .collectionitem {
	width: 150px;
}
.collectionslideCon .collectionchCon{
	padding-right: 150px;
}
.bagtotalcheckoutbtnbx{
	position: static;
	top:auto;
	right: auto;
	text-align: center;
}
.Checkout_heading_title{
	padding: 15px 10px 15px 10px;
}
.Checkout_heading_title h4{
	text-align: center;
	display: block;
	margin-bottom: 15px;
}
.movewishlistrw a {
    font-size: 15px;
}
}

@media only screen and (max-width:580px) {
.trendingfashionbx .colwd {
	width: 50%;
}
.trendingfashionbx .trendingbx figure {
	height: 210px;
}
.collectionslideCon h3 span, .collectionslideCon h2 {
    font-size: 35px;
}
.collectionchCon .collectionitem {
	width: 100px;
}
.collectionslideCon .collectionchCon{
	padding: 20px;
	padding-right: 100px;
}
.bagtotalcheckoutbtnbx .checkoutbutton{
	padding: 8px 16px;
}
.collectionsliderwarp .collectionbx img{
	margin-top: 40px;
}
}

@media only screen and (max-width:479px) {
.trendingfashionbx .colwd {
	width: auto;
	float: none;
}
/* .trendingfashionbx .trendingbx figure {
	height: auto;
} 
.trendingfashionbx .shadow{
	position: static;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}
.trendingfashionbx .hover01 figure img{
	position: static;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	transform: none;
	display: inline-block;
}*/
.trendingfashionbx .hover01 span{
	font-size: 14px;
}
.toppicswrap,.brandssectionbx, .trendingfashionbx {
    padding: 10px 9px 5px 10px;
}
.toppicswrap .itembox .itemimgbx {
    height: 110px;
}
.collectionsliderwarp .collectionbx{
	padding: 10px 15px;
	padding-right: 40px;
}
.collectionConbx .typecollection .typetext{
	font-size: 13px;
}
.collectionConbx .cellecheading{
	font-size: 16px;
	line-height: 24px;
}
.collectionConbx .cellecheadingsm{
	font-size: 12px;
	line-height: 20px;
}
.shopnowrow a {
    padding: 10px 16px;
    font-size: 14px;
}
.footerwrap {
    padding: 15px 0;
}
.collectionslideCon .shopnowrow a {
    padding: 10px 16px;
    font-size: 14px;
}
.collectionslideCon .collectionchCon {
    padding: 15px;
    padding-right: 80px;
}
.collectionslideCon h3{
	font-size: 18px;
}
.collectionslideCon h3 span, .collectionslideCon h2 {
    font-size: 30px;
}
.collectionslideCon h4 {
    font-size: 14px;
}
.collectionchCon .collectionitem {
    width: 80px;
}
.toppicswrap.productlisting .productlistbox,.toppicswrap.productlisting.watchlist .productlistbox{
	width: auto;
	float: none;
}
.toppicswrap .itembox .itemdetailsbx .itemsmdes{
	height: auto;
}
}
@media only screen and (max-width:380px) {
.logorw .navbar-nav > li{
	margin: 0 7px;
}
.subCategorySlider .itemimgbx {
    width: 80px;
    height: 80px;
}
.subCategorySlider .itembox h4 {
    font-size: 13px;
}
.movewishlistrw a {
    font-size: 13px;
}
}

@media only screen and (max-width:359px) {
.profiletabsConWrap .nav-tabs > li > a {
	font-size: 13px;
	padding: 13px 5px;
}
.orderidprobox .proimgbx {
    width: 90px;
}
.orderid_detailsbx {
    margin-left: 90px;
}
.movewishlistrw a {
    font-size: 11px;
}
.cardContentbx .form-control {
    font-size: 15px;
}
.validthrurw .validinput .span_slash{
	font-size: 15px;
}
.cardContentbx .cardidmgbxrw .cardidimg {
    width: 50px;
    height: 40px;
}
.contact_towakirw .wakilinkbx{
	margin-right: 0;
	margin-bottom: 15px;
	display: block;
}
}
