<div class="midConwrap">
    <div class="productlistingwrap">
        <div class="category_subcategory_row">
            <h4>Cancellation Policy</h4>
        </div>
    </div>
       <div class="termsContentwrap">
        <h3>Returns, Refunds, and Cancellation Policy</h3>
        <div class="termstextdetails">
            <p>Thank you for your purchase. We hope you are happy with your purchase.</p>
            <p>However, if you are not completely satisfied with your purchase for any reason, you may return it for a full refund or an exchange.</p>
            <p>Please see below for more information on our return policy.</p>
            <h3>Cancellation Policy</h3>
            <p>To be eligible for an order cancellation, please make sure that:</p>
            <ul class="disc">
                <li>You cancel the order before it is shipped to you.</li>
                <li>You cancel the order before it is picked up from vendor.</li>
            </ul>
            <p>If the order is already shipped, or picked up when you try to cancel it, the order will be subject to the Returns and Refunds Policy.</p>
            <h3>Returns Refunds Policy</h3>
            <p>Our products can be returned within 3 days of the original purchase of the product.</p>
            <p>To be eligible for a return, please make sure that:</p>
            <ul class="disc">
                    <li>The product was purchased in the last 3 days.</li>
                    <li>The product is in its original packaging.</li>
                    <li>The product isn't used or damaged.</li>
                    <li>You obtained a Return Merchandise Number (RMN) from us.</li>
                </ul>
                <p>Products that do not meet these criteria will not be considered for return.</p>
                <p>To obtain a Return Merchandise Number (RMN), contact us:</p>
                <ul class="disc">
                        <li>By email: <a href="mailto:return@waki.store">return@waki.store</a></li>
                    </ul>
                    <p>Once you obtain (RMN), a driver from Waki Store will come and pick the item up for you</p>
            <h3>Shipping charges</h3>
            <p>Shipping charges incurred in connection with the return of a product are non-refundable.</p>
            <p>You are responsible for paying the costs of shipping, both to and from Waki Store.</p>

            <h3>Damaged items</h3>
            <p>If you received a damaged product, please notify us immediately for assistance.</p>
            <h3>Sale items</h3>
           <p>Unfortunately, sale items cannot be refunded. Only regular price items can be refunded.</p>
            <h3>Contact Us</h3>
            <p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
            <ul class="disc">
                <li>By email: <a href="mailto:return@waki.store">return@waki.store</a></li>
            </ul>
        </div>


       </div>
</div>
