<ul class="nav nav-tabs">
  <li class="text-left">
    <a data-toggle="tab" href="javascript:void(0);"  [routerLink]="['/account/profile']" >Profile & Orders</a></li>
  <li class="text-right">
    <a data-toggle="tab" href="javascript:void(0);" [routerLink]="['/account/payment']" >My Payment Methods</a></li>
  <li class="text-right">
    <a data-toggle="tab" href="javascript:void(0);"  [routerLink]="['/account/address']" >Saved address</a></li>
  <li class="text-right">
    <a data-toggle="tab" href="javascript:void(0);">Settings</a></li>
</ul>