<div class="midConwrap contractus">
    <div class="contactus_scwrap">
        <div class="contacttitle_heading"><img src="assets/images/contact_heading.png" alt="Waki Contact Us" /></div>
        <div class="conwakiConbx">
            <div class="contactinfos">We’re excited to work together with you in creating responsible and sustainable opportunities for your business and its growth. Contact us here and make a difference to your business revenue model.</div>
            <div class="contact_towakirw">

                <div class="wakilinkbx">
                    <div class="coniconbx email"></div>
                    <div class="emaillink"><a href="mailto:care@waki.store">care@waki.store</a></div>
                </div>

                <div class="wakilinkbx">
                    <div class="coniconbx tel"></div>
                    <div class="emaillink"><a href="tel:+96655513662">+96655513662</a></div>
                </div>

            </div>

            <div class="wakiConAddressbox">
                <p>Al Marwah - King Abdullah Dist,</p>
                <p>Riyadh 12421,</p>
                <p>Saudi Arabia</p>
            </div>

            <div class="wakicontact_socialmediarw">
                <ul class="social-network social-circle">
                    <li><a href="javascript:void(0);" class="icoTwitter" title="Waki Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="javascript:void(0);" class="icoFacebook" title="Waki Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="javascript:void(0);" class="icoLinkedin" title="Waki Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
