<div class="midConwrap">
    <div class="productlistingwrap">
        <div class="category_subcategory_row">
            <h4>Wishlist </h4>
        </div>
        <div class="productlistingCon">
            <!--Watch List Product Listing Start Here-->
            <div class="toppicswrap productlisting watchlist clearfix">
                <div class="row row_watchlist clearfix" *ngIf="show==true">
                    <div class="col-sm-2 productlistbox col_watchlist"  *ngFor="let store of responseData">
                        <div class="itembox">
                            <div class="itemimgbx" *ngFor="let image of store['image']">
                              <img [src]="image" alt="" style="cursor: pointer" [routerLink]="['/detail',store['productId']]" />
                            </div>
                            <div class="itemdetailsbx">
                                <div class="aedprice">{{currencyConvertService.currentCurrencyData['position']=='left'?currencyConvertService.currentCurrencyData['sign']:''}} {{store.price*currencyConvertService.currentCurrencyData['value']}} {{currencyConvertService.currentCurrencyData['position']=='right'?currencyConvertService.currentCurrencyData['sign']:''}}</div>
                                <h4>{{store['productName']}}</h4>
                                <div class="bdrrw clearfix">
                                  <span class="top_bottom_bdr"></span>
                                </div>
                                <div class="itemcomnm">{{store['brand']}}</div>
                                <div class="itemsmdes" [innerHtml]="store['description']"></div>
                                <a href="javascript:void(0)">
                                    <div class="watchlistremove" (click)="remove(store['productId'])">Remove <i class="fa fa-trash" aria-hidden="true"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="midConwrap" *ngIf="show == false">
                    <div class="productlistingwrap">
                        <!-- <div class="category_subcategory_row">
                            <h4>MY Wishlist(0)</h4>
                        </div> -->
                    </div>
                       <div class="termsContentwrap">
                         <div class="emptycartimgrw">
                             <img src="assets/images/empty_cart.png" alt="Empty Cart" />
                         </div>
                         <h4 class="shoppingcartempty">Your Shopping Cart is empty</h4>
                         <!-- <h5 class="addtowishlistitem"><a href="javascript:void(0);"> + items from wishlist</a></h5> -->
                       </div>
                  </div>
            </div>
            <!--Watch List Product Listing End Here-->

        </div>
    </div>
</div>
